<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="navbar-fixed">
        <div >
        <a th:href="@{/currencies}" class="nav-link" style="font-size: 1.2em;">
            <i class="bi bi-currency-exchange"></i> Currency Converter
        </a>
    </div>
    </div>
    <div class="container">
        <h1>Calculator</h1>
        <form action="#" th:action="@{/calculate}" method="post">
            <input type="number" name="a" step="any" required="required" placeholder="Enter first number"/>
            <input type="number" name="b" id="num2" step="any" placeholder="Enter second number (optional for √)"/>
            <select name="operation" id="operation" >
                <option value="add">+</option>
                <option value="subtract">-</option>
                <option value="multiply">*</option>
                <option value="divide">/</option>
                <option value="power">^</option>
                <option value="square">√</option>
            </select>
            <button type="submit">
                Calculate <i class="bi bi-calculator icon-spin"></i>
            </button>
        </form>
        <div th:if="${error}" class="error">
            <span th:text="${error}"></span>
        </div>
        <div th:if="${result != null} and ${error == null}" class="result">
            <span th:text="'Result: ' + ${result}"></span>
        </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>